.body{
    background-color: hotpink;
}

.topnav {
    background-color: #303030;
    overflow: hidden;
    text-align: center;
    position: sticky;
}
.topnav a {
    float: left;
    color: 	white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:1.3em;
    display:flex;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    color: gray;
    /* border: white; */
}
.topnav .login-container{
    float: right;
    padding-top: 4px;
}
.topnav .login-container button{
    color: 	#FFFFFF;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 6px;
    text-decoration: none;
    font-size: 17px;
    border:none;
    cursor:pointer;
    margin-top: 5px;
    margin-right:5px;
    margin-bottom: 1px;
    background-color:#9ACD32;
    border-radius: 5px;

}
.topnav .login-container button:hover{
    background: white;
    color: black;
}

body {
    font-family: 'Ubuntu', sans-serif;
    margin: auto;
}

div.gallery{
    border: 1px solid #ccc;

}
div.gallery:hover{
    border: 1px solid #777;
    background-color: antiquewhite;
}
div.gallery img{
    width: 100%;
    height: auto;
}
/*
div.gallery img:hover{
    background-color: antiquewhite
}*/
div.desc{
    padding: 15px;
    text-align: center;
}


*{
    box-sizing: border-box;
}
.responsive{
    padding: 0 6px;
    float: left;
    width: 24.9999999%;
}
@media only screen and (max-width:500px){
    .responsive{
        width: 49.99999%;
        margin: 6px 0;
    }
}
@media only screen and (max-width:500px){
    .responsive{
        width: 100%;
    }
}
.clearfix:after{
    content:"";
}
.single-container button{
    color: 	#FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
    padding: 6px;
    text-decoration: none;
    font-size: 17px;
    border:none;
    cursor:pointer;
    margin-top: 3px;
    margin-right:5px;
    margin-bottom: 1px;
    background-color:#808000;
    border-radius: 5px;

}

