/* COLOR CODES:

- VERDE INCHIS: #808000
- GRI INCHIS (BG): #1a1a1a
- GRI SI MAI INCHIS: #0f0f0f
- ALB: #FFFFFF
- GRI DESCHIS: #858585
- ALT GRI DOAMNE AJUTA: #303030
*/ 

body {
  width: 100%;
  height: initial;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden; 
  overflow-y: hidden; 
}
.main { /*toate elementele */
  text-align: center;
}
.title-section { /*landing: title secion*/
  text-align: center;
  margin-top: 0;
  background-color: #1a1a1a;
}

.second-section{
  text-align: center;
}

/* -------------------TOPNAV---------------*/
.topnav {
    background-color: #303030;
    overflow: hidden;
    text-align: center;
    position: sticky;
}
.topnav a {
    float: left;
    color: 	white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:1.3em;
    display:flex;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;  
}
.topnav a.active {
    color: gray;
   /* border: white; */
} 
.topnav .login-container{
    float: right; 
    padding-top: 4px; 
}
.topnav .login-container button{
  color: 	#FFFFFF;
  font-family: 'Roboto', sans-serif; 
  text-align: center; 
  padding: 6px; 
  text-decoration: none;
  font-size: 17px;
  border:none;
  cursor:pointer;
  margin-top: 5px;
  margin-right:5px;
  margin-bottom: 1px;
  background-color:#9ACD32;
  border-radius: 5px;

}
.topnav .login-container button:hover{
  background: white;
  color: black;
}
/*---------------------TOPNAV END--------------*/
.fancy-title{
    color: white; 
    font-size: 6em;
    font-family: 'Ubuntu'; 
    line-height: 90vh;
    text-align: center;
}
span{
  opacity: 0;
  transition: all 1s ease;
  transform: translateY(50px);
  display: inline-block;
}
span.fade{
  opacity: 1;
  transform: translateY(0px);
}
.slogan {
    color: #858585;
    font-size: 6em;
    font-family: 'Roboto';
}
/*--------------TITLE END--------------*/
/*--------------SLOGAN------------------*/
.meq-description{
    color: #858585; 
    position: absolute; 
    width: 25%; 
    top: 10em;
    left:50%;
    right: auto;
    text-align: right;
    padding-right: 50px;
    transform: translate(-50%,-50%);
    width: 100%;
    /*padding: 20px;*/
}

/*---------------SLOGAN END-------------*/
  /* Login */
.footer-container button{
    color: 	#FFFFFF;
    font-family: 'Roboto', sans-serif; 
    text-align: center; 
    padding: 6px; 
    text-decoration: none;
    font-size: 17px;
    border:none;
    cursor:pointer;
    margin-top: 3px;
    margin-right:5px;
    margin-bottom: 1px;
    background-color:#808000;
    border-radius: 5px;
    
}
  
  
  /* Side Bar*/
  .sidenav {
    width: 30%;
    height: inherit;
    background: #9ACD32;
    overflow-x: hidden;
    flex: 0 0 13% ;
    border-top-right-radius: 10px;
    
    
  }
  .sidenav a {
    padding: 6px 6px 6px 15px;
    text-decoration: none;
    font-size: 150%;
    
    color: black;
    display: block;
  }
  
  .sidenav a:hover {
    color: #064579;
  }

.sidenav h2 {
    padding: 6px 8px 6px 20px;
    text-decoration: none;
    font-size: 150%;
    color: black;
    display: block;
  }



  /*-----------------FOOTER--------------------------------------------------------------

    .bottom-container{ footer
    left: 0;
    display: block;
    width: 100%;   
    align-items: flex-end;
    background-color: #FFF8DC;
    padding-bottom:; 
    text-align:center;
    color: #A0522D;
    
    
  }*/

.footer{
    position: fixed;
    border-top-left-radius: 3%;
    left: 0%;
    bottom: 0%; 
    width: 100%;
    background-color:#808000; 
    color: white;
    text-align: center;
     
}
.question {
    font-family: fantasy;
    font-size: 17px;
    font-weight: 300;
    font-style: italic;
    letter-spacing: inherit;
    color:darkolivegreen;
    text-align: left;
}
@media only screen and (max-width:1000px) {
  /* For mobile phones: */
  .content, .sidenav, .topnav, .footer {
    width
    :100%;
  }
}

@media screen and (max-width: 1000px) {
  .sidenav  {
    font-size: 80%;
    text-align: center;
    width: 30%;
    margin: 0 auto; 
  }
  .title-section{
      text-align: center;
      font-size: 70%;
    }
}
@media screen and (max-width: 1000px) {
  .sidenav  {
    font-size: 100%;
    text-align: center;
  }
  .center-container{
    flex-direction:column;
  }
  .title-section {
    width: inherit;
      font-size: 50%
  }
}
@media screen and (max-width: 1000px) {
    .topnav  {
    margin: 0 auto; 
    }
}
@media screen and (max-width:1000px){
  .title-section {
      font-size: 50%;
  }
}